@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-roboto: "Roboto", ui-monospace, SFMono-Regular, monospace;
}

body {
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}

.font-roboto {
  font-family: var(--font-roboto);
}
